@use 'variables' as *;

body {
   background-color: #000;
   font-family: $ff-primary;
   font-size: 16px;
   color: white;
}

.introduction {
   width: 100vw;
   margin: 0 auto;
   padding: 20px 15px;
   text-align: center;
   background-image: url('../assets/images/bg-mobile.png');
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}
