@use 'variables' as *;

body {
   background-color: #000;
   font-family: $ff-primary;
   font-size: 16px;
   color: white;
}

.target-section {
   display: none;
   background-image: url('../assets/images/bg-mobile-rotate.png');
   background-size: cover;
   &.active {
      display: block;
   }
}
